html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
    text-align: center;
    font-size: 5rem;
}

#image {
    margin: auto;
    display: block;
    width: 50%;
}

#paragraph {
    text-align: center;
    font-size: 3rem;
}